
  .assetsGif{
    justify-content: center;
    padding-left:570px;
  }
  .button{
    padding-left: 590px;
  }
  
  .transactionButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .transactionButton:hover {
    background-color: #45a049;
  }
  